In [37]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [38]:
# Study data files

dirrahea_deaths_least_developed_tidy_avg_path = "../sources/dirrahea_deaths_least_developed_tidy_avg.csv"
dirrahea_deaths_most_developed_tidy_avg_path = "../sources/dirrahea_deaths_most_developed_tidy_avg.csv"

In [39]:
# Read the data and the study results

dirrahea_deaths_least_developed_tidy_avg = pd.read_csv(dirrahea_deaths_least_developed_tidy_avg_path)
dirrahea_deaths_most_developed_tidy_avg = pd.read_csv(dirrahea_deaths_most_developed_tidy_avg_path)

In [46]:
dirrahea_deaths_least_developed_tidy_avg.reset_index()
dirrahea_deaths_least_developed_tidy_avg

#The average of the five least developed countries dataframe.

,Country,Country Code,Year Range,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5,Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5
0,Burundi,BDI,2015 - 2019,5037,1923
1,Madagascar,MDG,2015 - 2019,10662,4032
2,Malawi,MWI,2015 - 2019,2628,1006
3,Mozambique,MOZ,2015 - 2019,3960,1478
4,Somalia,SOM,2015 - 2019,7950,3018

In [41]:
dirrahea_deaths_most_developed_tidy_avg

#The average of the five least developed countries dataframe.

,Country,Country Code,Year Range,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5,Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5
0,Bermuda,BMU,2015 - 2019,0,0
1,Luxembourg,LUX,2015 - 2019,0,0
2,Monaco,MCO,2015 - 2019,0,0
3,Norway,NOR,2015 - 2019,0,0
4,Switzerland,CHE,2015 - 2019,0,0

In [42]:
# Combine the data into a single dataset

combined_dataset = dirrahea_deaths_least_developed_tidy_avg.merge(dirrahea_deaths_most_developed_tidy_avg, how = 'outer')

In [47]:
# Display the data table for preview

combined_dataset.head(50)

,Country,Country Code,Year Range,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5,Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5
0,Burundi,BDI,2015 - 2019,5037,1923
1,Madagascar,MDG,2015 - 2019,10662,4032
2,Malawi,MWI,2015 - 2019,2628,1006
3,Mozambique,MOZ,2015 - 2019,3960,1478
4,Somalia,SOM,2015 - 2019,7950,3018
5,Bermuda,BMU,2015 - 2019,0,0
6,Luxembourg,LUX,2015 - 2019,0,0
7,Monaco,MCO,2015 - 2019,0,0
8,Norway,NOR,2015 - 2019,0,0
9,Switzerland,CHE,2015 - 2019,0,0